$url: '..';
//$url: 'https://...';

@mixin font($f-name, $f-style, $f-weight, $f-url, $f-format) {

  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format($f-format);
  }
}

@include font('formular-300', lighter, 300, '#{$url}/fonts/formular/formular-Light.eot', 'eot');
@include font('formular-300', lighter, 300, '#{$url}/fonts/formular/formular-Light.ttf', 'ttf');
@include font('formular-300', lighter, 300, '#{$url}/fonts/formular/formular-Light.woff', 'woff');
@include font('formular-300', lighter, 300, '#{$url}/fonts/formular/formular-Light.woff2', 'woff2');

@include font('formular-400', Normal, 400, '#{$url}/fonts/formular/formular-Roman.eot', 'eot');
@include font('formular-400', Normal, 400, '#{$url}/fonts/formular/formular-Roman.ttf', 'ttf');
@include font('formular-400', Normal, 400, '#{$url}/fonts/formular/formular-Roman.woff', 'woff');
@include font('formular-400', Normal, 400, '#{$url}/fonts/formular/formular-Roman.woff2', 'woff2');

@include font('formular-500', Medium, 500, '#{$url}/fonts/formular/formular-Medium.eot', 'eot');
@include font('formular-500', Medium, 500, '#{$url}/fonts/formular/formular-Medium.ttf', 'ttf');
@include font('formular-500', Medium, 500, '#{$url}/fonts/formular/formular-Medium.woff', 'woff');
@include font('formular-500', Medium, 500, '#{$url}/fonts/formular/formular-Medium.woff2', 'woff2');

@include font('formular-700', Bold, 700, '#{$url}/fonts/formular/formular-Bold.eot', 'eot');
@include font('formular-700', Bold, 700, '#{$url}/fonts/formular/formular-Bold.ttf', 'ttf');
@include font('formular-700', Bold, 700, '#{$url}/fonts/formular/formular-Bold.woff', 'woff');
@include font('formular-700', Bold, 700, '#{$url}/fonts/formular/formular-Bold.woff2', 'woff2');

/* hint
100 - Thin (Hairline)
200 - Extra Light (Ultra Light)
300 - Light (Book)
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/


